<form method="post" action="/home/login">
    <input type="email" name="email" placeholder="Email" />
    <input type="password" name="password" placeholder="Password" />
    <button>Login</button>
</form>
<a href="/home/signup">Sign Up Here</a>