<form method="post" action="/home/signup">
    <input name="FrstName" placeholder="First Name" />
    <input name="LastName" placeholder="Last Name" />
    <input name="Email" placeholder="Email" />
    <input name="password" placeholder="Password" type="password" />
    <button>Sign Up</button>
</form>